@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}

:root {
  --background: rgb(248, 248, 248);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 0.1em;
  /* background: var(--background); */
  color: white;
  font-family: "Raleway", sans-serif;
  background-size: auto;
  background-image: url(./assets/backgroundVideo/smoke.mp4);
  background-position: auto;
  display: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
}

p .aboutMe {
  font-size: 1.5rem;
  margin: 0;
  color: rgb(255, 255, 255);
  padding-top: 5px;
}

h1 {
  color: rgb(255, 255, 255);
}

a {
  color: rgb(245, 245, 245);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 2px 4px;
  margin-left: -2px;
  margin-right: -2px;
}

/* HOMEPAGE STYLINGS START */
.tabsheader {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: 200px;
  letter-spacing: 70px;
  margin-block-start: 0.67em;
  margin-block-start: 1em;
  margin-block-end: -0.3em;
  margin-inline-start: -200px;
  margin-inline-end: 0px;
}

.homepageword {
  font-weight: lighter;
  color: rgb(100, 100, 100);
  letter-spacing: 5px;
  margin-left: 0px;
  margin-right: 100px;
}

.login-word {
  color: white;
  font-weight: lighter;
  letter-spacing: 5px;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

.homepage-fail {
  color: red;
  font-size: 15px;
  font-weight: lighter;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

.homepage-card {
  margin: 2rem 2rem 2rem 0;
  padding: 1.5rem;
  width: 250px;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 12);
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 3%;
  transition: transform 0.3s ease;
  cursor: pointer;
  transform-style: preserve-3d;
}
/* HOMEPAGE STYLINGS END */

/* /CONTACTS STYLINGS START */
.contacts-word {
  color: gray;
  font-weight: lighter;
  font-size: 12px;
  padding: 2px 4px;
  margin-left: 10px;
  margin-right: 10px;
}

/* /CONTACTS STYLINGS END */

.homepage-card:hover {
  transform: scale(1.1);
}

a:hover {
  color: #fafafa;
}

button:hover,
nav ul li a:hover {
  opacity: 0.8;
}

img {
  max-width: 50%;
  justify-content: center;
}

.profile-image {
  border-radius: 50% 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 5px rgb(255, 255, 255);
}

.img-link-social {
  width: auto;
  height: 40px;
  margin-bottom: 50px;
  cursor: pointer;
  margin: 0;
}

form {
  width: 125.5%;
}

nav li {
  cursor: pointer;
}
.nav-image {
  width: 25%;
}

textarea {
  font-size: 1rem;
  width: 50%;
  height: 150px;
  padding: 10px;
  border-radius: 10px;
  resize: none;
}

/* .footer, .footer img a {
  text-align: center;
  padding-top: 50px;
} */

.container {
  width: 70%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 25%;
  text-align: center;
}

.card-title {
  color: var(--black);
}

.img-thumbnail {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
  cursor: pointer;
}

.sendButton {
  width: 70%;
}

.error {
  color: red;
}

.img-collapse {
  max-width: 50%;
  width: 50%;
  height: auto;
}

.navbar-nav {
  margin: 10 auto;
  text-align: center;
  display: flex;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .img-collapse {
    max-width: 50%;
    width: 30%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
